<h1>Grocery List</h1>

<% if @error %>
  <p>
    <%= @error %>
  </p>
<% end %>

<ul>
  <% @groceries.each do |grocery| %>
    <li> <%= grocery["name"] %> </li>
  <% end %>
</ul>

<form action="/groceries" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">
  <input type="submit" value="Add">
</form>
